<p id="notice"><%= notice %></p>

<h1>Good Sub Kinds</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Active</th>
      <th>Good kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @good_sub_kinds.each do |good_sub_kind| %>
      <tr>
        <td><%= good_sub_kind.description %></td>
        <td><%= good_sub_kind.active %></td>
        <td><%= good_sub_kind.good_kind %></td>
        <td><%= link_to 'Show', good_sub_kind %></td>
        <td><%= link_to 'Edit', edit_good_sub_kind_path(good_sub_kind) %></td>
        <td><%= link_to 'Destroy', good_sub_kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Good Sub Kind', new_good_sub_kind_path %>
