<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <h1><%= GoodSubKind.model_name.human(count: 2) %></h1>
    <div class="ml-auto mt-2">
      <%= link_to t('views.good_sub_kinds.new.title'), new_good_sub_kind_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= @good_sub_kinds.human_attribute_name(:description) %></th>
          <th><%= @good_sub_kinds.human_attribute_name(:good_kind_id) %></th>
          <th><%= @good_sub_kinds.human_attribute_name(:active) %></th>
        </tr>
      </thead>
      <tbody>
        <% @good_sub_kinds.each do |good_sub_kind| %>
          <tr>
            <td><%= link_to good_sub_kind.description , good_sub_kind %></td>
            <td><%= good_sub_kind.kind.description %></td>
            <td><%= t_active good_sub_kind.active %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-center" style="width: 100%;">
      <%= paginate @good_sub_kinds, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
