<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong><%= GoodSubKind.human_attribute_name(:description) %>:</strong>
    <%= @good_sub_kind.description %>
  </p>
  <p>
    <strong><%= GoodSubKind.human_attribute_name(:active) %>:</strong>
    <%= t_active @good_sub_kind.active %>
  </p>
  <p>
    <strong><%= GoodSubKind.human_attribute_name(:good_kind_id) %>:</strong>
    <%= @good_sub_kind.good_kind.description %>
  </p>
  <%= link_to t('views.actions.back'), good_sub_kinds_path, class: 'btn btn-primary' %>
  <%= link_to t('views.actions.edit'), edit_good_sub_kind_path(@good_sub_kind), class: 'btn btn-primary' %>
  <%= link_to t('views.actions.destroy'), @good_sub_kind, method: :delete, data: { confirm: t(:confirm) }, class: 'btn btn-danger' %>
</div>
