<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @good_sub_kind.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @good_sub_kind.active %>
</p>

<p>
  <strong>Good kind:</strong>
  <%= @good_sub_kind.good_kind %>
</p>

<%= link_to 'Edit', edit_good_sub_kind_path(@good_sub_kind) %> |
<%= link_to 'Back', good_sub_kinds_path %>
