<%= form_for :filters, url: depreciations_path, html: { id: 'filters_form' } do |form| %>
  <%= form.hidden_field :sub_kind_id, value: filters_params[:sub_kind_id] %>
  <%= form.hidden_field :category_id, value: filters_params[:category_id] %>
  <%= form.hidden_field :kind_id, value: filters_params[:kind_id] %>
  <div class="form-group">
    <%= label_tag :kind_, t('activerecord.models.good_kind.one') %>
    <%= select_tag :kind, options_for_select(kinds), class: 'form-control' %>
  </div>
  <div id="sub_kind_group" class="form-group">
    <%= label_tag :sub_kind, t('activerecord.models.good_sub_kind.one') %>
    <%= select_tag :sub_kind, grouped_options_for_select(sub_kinds), prompt: t('views.all.male'), class: 'form-control' %>
  </div>
  <div id="category_group" class="form-group">
    <%= label_tag :category, t('activerecord.models.good_category.one') %>
    <%= select_tag :category, grouped_options_for_select(categories), prompt: t('views.all.female'), class: 'form-control' %>
  </div>
  <div id="goods_group" class="form-group">
    <%= form.label :goods, t('activerecord.models.good.other') %>
    <%= form.text_field :goods, value: filters_params[:goods], class: 'form-control wd-2' %>
  </div>
  <div class="actions">
    <%= form.submit t('views.depreciations.actions.apply'), class: 'btn btn-primary' %>
  </div>
<% end %>
