<% if jobs.count.positive? %>
  <% count = 1 %>
  <% jobs.each do | job | %>
    <tr>
      <td><%= count %></td>
      <td><%= t("views.depreciations.jobs.status.#{job[:status]}") %></td>
      <td>
        <div class="progress mt-1">
          <div class="progress-bar" style= "width: <%= "#{job[:progress]}%" %>" role="progressbar" aria-valuenow="<%= job[:progress] %>" aria-valuemin="0" aria-valuemax="100"><%= "#{job[:progress]}%" %></div>
        </div>
      </td>
    </tr>
    <% count += 1 %>
  <% end %>
<% else %>
  <tr>
    <td colspan="4" class="text-center"><%= t('views.depreciations.jobs.empty') %></td>
  </tr>
<% end %>
