<% count = 1 %>
<% jobs.each do | job | %>
  <tr>
    <td><%= count %></td>
    <td><%= job[:started_at] %></td>
    <td><%= job[:status] %></td>
    <td>
      <div class="progress">
        <div class="progress-bar" style= "width: <%= "#{job[:progress] * 100}%" %>" role="progressbar" aria-valuenow="<%= job[:progress] %>" aria-valuemin="0" aria-valuemax="1"><%= "#{job[:progress] * 100}%" %></div>
      </div>
    </td>
  </tr>
  <% count += 1 %>
<% end %>
