<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <div class="card mt-3">
    <div class="card-header">
      <h1><%= t 'views.depreciations.title' %></h1>
    </div>
    <div class="card-body">
      <%= link_to t('views.depreciations.actions.new'), new_depreciation_path, class: 'btn btn-primary' %>
      <table class="table table-bordered table-hover mt-4" id="depreciation_jobs" >
        <thead>
          <tr>
            <th>#</th>
            <th><%= t('views.depreciations.jobs.table.headers.status') %></th>
            <th><%= t('views.depreciations.jobs.table.headers.progress') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3" class="text-center">
              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  function updateJobs() {
    var timer = setTimeout(updateJobs, 5000);
    if (window.location.pathname != '/depreciations') {
          clearInterval(timer)
          return
        }
    $.get('/depreciations/jobs')
  }
  $(document).on('turbolinks:load', function () {
    updateJobs();
  });
</script>
