<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong><%= GoodKind.human_attribute_name(:description) %>:</strong>
    <%= @good_kind.description %>
  </p>
  <p>
    <strong><%= GoodKind.human_attribute_name(:active) %>:</strong>
    <%= t_active @good_kind.active %>
  </p>
  <%= link_to t('views.actions.back'), good_kinds_path, class: 'btn btn-primary' %>
  <%= link_to t('views.actions.edit'), edit_good_kind_path(@good_kind), class: 'btn btn-primary' %>
  <%= link_to t('views.actions.destroy'), @property, method: :delete, data: { confirm: t('views.confirm') }, class: 'btn btn-danger' %>
</div>
