<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @good_kind.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @good_kind.active %>
</p>

<%= link_to 'Edit', edit_good_kind_path(@good_kind) %> |
<%= link_to 'Back', good_kinds_path %>
