<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Property Details</h1>
  <%= link_to :back, properties_path, class: 'btn btn-primary' %>
  <%= link_to :edit, edit_property_path(@property), class: 'btn btn-primary' %>
  <%= link_to :delete, @property, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <p>
    <strong>Description:</strong>
    <%= @property.description %>
  </p>
  <p>
    <strong>Active:</strong>
    <%= @property.active %>
  </p>
</div>
