<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <h1><%= @departments.model_name.human(count: 2) %></h1>
    <div class="ml-auto mt-2">
      <%= link_to t('views.departments.new.title'), new_department_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= @departments.human_attribute_name(:description) %></th>
          <th><%= @departments.human_attribute_name(:property_id) %></th>
          <th><%= @departments.human_attribute_name(:active) %></th>
        </tr>
      </thead>
      <tbody>
        <% @departments.each do |department| %>
          <tr>
            <td><%= link_to department.description, department %></td>
            <td><%= department.property.description %></td>
            <td><%= t_active department.active %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
