<div class="container">
  <p>
    <strong><%= Department.human_attribute_name(:description) %>:</strong>
    <%= @department.description %>
  </p>
  <p>
    <strong><%= Department.human_attribute_name(:property_id) %>:</strong>
    <%= @department.property.description %>
  </p>
  <p>
    <strong><%= Department.human_attribute_name(:active) %>:</strong>
    <%= t_active @department.active %>
  </p>
  <%= link_to t('views.actions.back'), departments_path, class: 'btn btn-primary' %>
  <%= link_to t('views.actions.edit'), edit_department_path(@department), class: 'btn btn-primary' %>
  <%= link_to t('views.actions.destroy'), @department, method: :delete, data: { confirm: t('views.confirm') }, class: 'btn btn-danger' %>
</div>
