<nav id="menu" class="nav flex-column">
  <%= link_to :goods, goods_path, class: 'nav-link' %>
  <%= link_to :kinds, good_kinds_path, class: 'nav-link' %>
  <%= link_to :sub_kinds, good_sub_kinds_path, class: 'nav-link' %>
  <%= link_to :categories, good_categories_path, class: 'nav-link' %>
  <%= link_to :properties, properties_path, class: 'nav-link' %>
  <%= link_to :departments, departments_path, class: 'nav-link' %>
</nav>
