<%= form_with(model: good_category, local: true) do |form| %>
  <% if good_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(good_category.errors.count, "error") %> prohibited this good_category from being saved:</h2>
      <ul>
        <% good_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>
  <div class="custom-control custom-checkbox">
    <%= form.check_box :active, checked: true, class: 'custom-control-input' %>
    <%= form.label :active, class: 'custom-control-label' %>
  </div>
  <div class="form-group">
    <%= form.label :good_sub_kind_id %>
    <%= form.select :good_sub_kind_id, sub_kinds, { prompt: :select_text }, class: 'form-control' %>
  </div>
  <div class="form-actions">
    <%= form.submit class: 'btn btn-success'  %>
    <% if action_name == 'edit' %>
      <%= link_to t('actions.back'), good_category_path(good_category), class: 'btn btn-primary' %>
    <% else %>
      <%= link_to t('actions.back'), good_categories_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
