<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <h1>Good Categories</h1>
    <div class="ml-auto mt-2">
      <%= link_to t('actions.new'), new_good_category_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th>Active</th>
          <th>Sub kind</th>
        </tr>
      </thead>
      <tbody>
        <% @good_categories.each do |good_category| %>
          <tr>
            <td><%= link_to good_category.description, good_category %></td>
            <td><%= t_active good_category.active %></td>
            <td><%= good_category.good_sub_kind.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
