<div class="modal fade" id="modal_departments" tabindex="-1" role="dialog" aria-labelledby="depatments" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body scroll">
        <table id="departments_table" class="table">
          <thead>
            <tr>
              <th colspan="2">Propriedade</th>
            </tr>
          </thead>
          <tbody>
            <% properties.each do |property| %>
              <tr>
                <td class="text-center" style="width: 30px;">
                  <%= button_tag fa_icon('plus-square'), type: :button, class: 'btn btn-secondary btn-sm open' %>
                </td>
                <td><%= property.description %></td>
              </tr>
              <tr class="hide">
                <td></td>
                <td>
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th colspan="2">Departamentos</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% property.departments.each do |department| %>
                        <tr>
                          <td class="text-center" style="width: 25px;">
                            <%= check_box_tag :selected %>
                          </td>
                          <td><%= department.description %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <%= button_tag t('views.actions.save'), id: 'btn_save', type: :button, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).on("click", "#departments_table .open", function() {
      var tr = $(this).parents("tr").next();
      if (tr.hasClass("hide")) {
        $(this).html('<%= fa_icon("minus-square") %>')
         tr.removeClass("hide");
      } else {
         tr.addClass("hide");
         $(this).html('<%= fa_icon("plus-square") %>')
      }
  });
  
  $(document).on("change", "#departments_table input:checkbox", function() {
    var row = $(this).parents("tr").first()
    var main_row = $(row).parents('tr').prev()
    if ($(this).is(":checked")) {
      $("#departments_table .table-primary").removeClass("table-primary")
      $("#departments_table input:checkbox").prop("checked", false)
      $(this).prop("checked", true)
      $(row).addClass("table-primary")
      $(main_row).addClass("table-primary")
    } else {
      $(row).removeClass("table-primary")
      $(main_row).removeClass("table-primary")
    }
   });
</script>
