<div class="modal fade" id="new-movement-modal" tabindex="-1" role="dialog" aria-labelledby="new-movement-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-movement-modal-label"><%= t('views.movements.new.title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(model: [good, Movement.new], remote: true, id: 'movement-form') do |form| %>
        <div class="modal-body">
          <div class="form-group">
            <%= form.label :date %>
            <%= datepicker_field(form, :date) do %>
              <div id="date_validation_msg" class='invalid-feedback'>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= form.label :department_id %>
            <%= form.select :department_id, grouped_options_for_select(departments), { prompt: :prompt_text }, class: 'form-control'%>
            <div id="department_id_validation_msg" class='invalid-feedback'>
            </div>
          </div>
          <div class="form-group">
            <%= form.label :movement_kind_id %>
            <%= form.select :movement_kind_id, movement_kids, { prompt: :prompt_text }, class: 'form-control'%>
            <div id="movement_kind_id_validation_msg" class='invalid-feedback'>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="actions">
            <%= button_tag t('views.actions.back'), class: 'btn btn-primary', data: { dismiss: 'modal' } %>
            <%= form.submit class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
