<%= form_with(model: good, local: true) do |form| %>
  <% if good.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(good.errors.count, "error") %> prohibited this good from being saved:</h2>
      <ul>
        <% good.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :specification %>
    <%= form.text_area :specification, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :good_situation_id %>
    <%= form.select :good_situation_id, situations, { prompt: :select_text }, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :purchase_price %>
    <%= form.text_field :purchase_price, value: (number_with_precision(form.object.purchase_price, precision: 2) if form.object.purchase_price), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :purchase_date %>
    <%= datepicker_field(form, :purchase_date) %>
  </div>
  <div class="form-group">
    <%= form.label :base_date %>
    <%= datepicker_field(form, :base_date) %>
  </div>
  <div class="form-group">
    <%= form.label :good_category_id %>
    <%= form.select :good_category_id, good_categories, { prompt: :select_text }, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :department_id %>
    <%= form.select :department_id, departments, { prompt: :select_text }, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
    <% if action_name == 'edit' %>
      <%= link_to t('views.actions.back'), good_path(good), class: 'btn btn-primary' %>
    <% else %>
      <%= link_to t('views.actions.back'), goods_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
