$(document).on('turbolinks:load', function () {
  $("select#kind").change(function () {
    if ($(this).val() != "") {
      $("select#sub_kind").append('<option value=""><%= I18n.t('views.depreciation.loading_text.sub_kinds') %></option>')
      $("div#sub_kind_group").show()
      $.get("/depreciation/get_sub_kinds", { kind: $(this).val() }).done(function (data) {
        $("select#sub_kind").empty()
        $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
        $("select#sub_kind").append(data)
      })
    } else {
      $("select#sub_kind").empty()
      $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
    }
  })
});

$(document).on('turbolinks:load', function () {
  $("select#sub_kind").change(function () {
    if ($(this).val() != "") {
      $("select#sub_sub_kind").append('<option value=""><%= I18n.t('views.depreciation.loading_text.categories') %></option>')
      $("div#sub_kind_group").show()
      $.get("/depreciation/get_categories", { sub_kind: $(this).val() }).done(function (data) {
        $("select#category").empty()
        $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
        $("select#category").append(data)
      })
    } else {
      $("select#category").empty()
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
    }
  })
});
