$(document).on('turbolinks:load', function () {
  let sub_kinds = $('select#sub_kind').html();
  let categories = $('select#category').html();

  let kind_val = $("input#filters_kind_id").val()
  let sub_kind_val = $("input#filters_sub_kind_id").val()
  let category_val = $("input#filters_category_id").val()

  if (kind_val == '') {
    $("select#kind").val('')
    $("select#sub_kind").empty()
    $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
    $("select#category").empty()
    $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
  } else {
    if (kind_val != '') {
      $("select#kind").val(kind_val)
      var options = $(sub_kinds).filter("optgroup[label=" + kind_val + "]").html();
      $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
      $('select#sub_kind').append(options);
      $("select#sub_kind").val(sub_kind_val)
    } else {
      $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
    }

    if (sub_kind_val != '') {
      var options = $(categories).filter("optgroup[label=" + sub_kind_val + "]").html();
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
      $('select#category').append(options);
      $("select#category").val(category_val)
    } else {
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
    }
  }

  $('select#kind').change(function () {
    var kind = $('select#kind').val();
    if (kind != '') {
      var options = $(sub_kinds).filter("optgroup[label=" + kind + "]").html();
      $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
      $('select#sub_kind').append(options);
      $("select#category").empty()
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
    } else {
      $("select#sub_kind").empty()
      $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
      $("select#category").empty()
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
    }
  });

  $('select#sub_kind').change(function () {
    var sub_kind = $('select#sub_kind').val();
    if (sub_kind != '') {
      var options = $(categories).filter("optgroup[label=" + sub_kind + "]").html();
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
      $('select#category').append(options);
    } else {
      $("select#category").empty()
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
    }
  });
});

$(document).on('turbolinks:load', function () {
  $('div#filters').on('shown.bs.collapse', function () {
    $('button#btn_toggle_filters').text('<%= I18n.t('views.depreciations.filters.hide') %>')
  });

  $('div#filters').on('hidden.bs.collapse', function () {
    $('button#btn_toggle_filters').text('<%= I18n.t('views.depreciations.filters.show') %>')
  });
});

$(document).on('turbolinks:load', function () {
  $('form#depreciation_form').submit(function () {
    $('input#depreciation_filters_kind_id').val($("select#kind").val())
    $('input#depreciation_filters_sub_kind_id').val($("select#sub_kind").val())
    $('input#depreciation_filters_category_id').val($("select#category").val())
    $('input#depreciation_filters_goods').val($("input#filters_goods").val())
  })
});

$(document).on('turbolinks:load', function () {
  $('form#filters_form').submit(function () {
    $('input#filters_kind_id').val($("select#kind").val())
    $('input#filters_sub_kind_id').val($("select#sub_kind").val())
    $('input#filters_category_id').val($("select#category").val())
  })
});
