$(document).on('turbolinks:load', function () {
  let searchParams = new URLSearchParams(window.location.search)
  let sub_kinds = $('select#sub_kind').html();
  let categories = $('select#category').html();

  if (searchParams.get('kind') == null) {
    $("select#kind").val('')
    $("select#sub_kind").empty()
    $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
    $("select#category").empty()
    $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
  } else {
    $("select#kind").val(searchParams.get('kind'))
    var kind = $('select#kind').val();
    if (kind != '') {
      var options = $(sub_kinds).filter("optgroup[label=" + kind + "]").html();
      $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
      $('select#sub_kind').append(options);
      $("select#sub_kind").val(searchParams.get('sub_kind'))
    } else {
      $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
    }
    var sub_kind = $('select#sub_kind').val();
    if (sub_kind != '') {
      var options = $(categories).filter("optgroup[label=" + sub_kind + "]").html();
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
      $('select#category').append(options);
      $("select#category").val(searchParams.get('category'))
    } else {
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
    }
  }

  if (searchParams.get('goods') == null) {
    $("select#goods").val('')
  } else {
    $("input#goods").val(searchParams.get('goods'))
  }

  $('select#kind').change(function () {
    var kind = $('select#kind').val();
    if (kind != '') {
      var options = $(sub_kinds).filter("optgroup[label=" + kind + "]").html();
      $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
      $('select#sub_kind').append(options);
      $("select#category").empty()
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
    } else {
      $("select#sub_kind").empty()
      $("select#sub_kind").html('<option value=""><%= I18n.t('views.all.male') %></option>')
      $("select#category").empty()
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
    }
  });
  $('select#sub_kind').change(function () {
    var sub_kind = $('select#sub_kind').val();
    if (sub_kind != '') {
      var options = $(categories).filter("optgroup[label=" + sub_kind + "]").html();
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
      $('select#category').append(options);
    } else {
      $("select#category").empty()
      $("select#category").html('<option value=""><%= I18n.t('views.all.female') %></option>')
    }
  });
});


$(document).on('turbolinks:load', function () {
  $('div#filters').on('shown.bs.collapse', function () {
    $('button#btn_toggle_filters').text('<%= I18n.t('views.depreciation.filters.hide') %>')
  });

  $('div#filters').on('hidden.bs.collapse', function () {
    $('button#btn_toggle_filters').text('<%= I18n.t('views.depreciation.filters.show') %>')
  });
});
